/* body {
  background: #ee9ca7; 
}

.card {
  width: 20rem;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-title {
  font-weight: 800;
}

.card-text {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.2rem 1.7rem;
}

.container-fluid.row {
  padding-top: 6rem;
}

.card:hover {
  border: 3px solid darkgoldenrod;
  border-radius: 10px;
}

.spacing {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} */
